<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Книги жанра фантастики</title>
  </head>
  <body>
    <div class="container mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
          <li class="page-item{% if current_page==1 %} disabled{% endif %}">
            <a class="page-link" href="../pages/index{{ current_page-1 }}.html">Назад</a>
          </li>
          {% for count_page in range(count_pages) %}
          <li class="page-item{% if current_page==count_page+1 %} active{% endif %}">
            <a class="page-link" href="../pages/index{{ count_page+1 }}.html">{{ count_page+1 }}</a>
          </li>
          {% endfor %}
          <li class="page-item{% if current_page==count_pages %} disabled{% endif %}">
            <a class="page-link" href="../pages/index{{ current_page+1 }}.html">Вперед</a>
          </li>
        </ul>
      </nav>
      <div class="row">
        {% for book in books %}
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../images/{{ book.image_name | urlencode }}" class="card-img" alt="{{ book.title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.author }}</p>
                    <p class="card-text">
                      {% for genre in book.genres %}
                        <span class="badge badge-light">{{ genre }}</span> 
                      {% endfor %}
                    </p>
                    <p class="card-text"><a href="../{{ book.book_path | urlencode }}" target="_blank">Читать</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
